<!DOCTYPE html>
<!--
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>사이트 제목...</title>
</head>
<body>
header파일의 common이라는 fragment로 교체..?
    <header th:replace="~{outlines/header::common}"></header>
    <main>
        <h1>본문....</h1>
    </main>
    <footer th:replace="~{outlines/footer::common}"></footer>
</body>
-->
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/common}">

<th:block layout:fragment="addCss">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</th:block>

<th:block layout:fragment="addScript">
    <script th:src="@{/js/main.js}"></script>
</th:block>
<main layout:fragment="content">
    <h1>메인페이지 본문...</h1>

</main>

</html>